-# ANZARD - Australian & New Zealand Assisted Reproduction Database
-# Copyright (C) 2017 Intersect Australia Ltd
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <http://www.gnu.org/licenses/>.

#footer
  - if request.fullpath == '/' &&  user_signed_in?
    - case current_capturesystem&.name
    - when nil
      %div{class: "centered_wrapper"}
        = link_to (image_tag 'unsw_sydney_landscape.svg', height: 40), "https://unsw.edu.au/"
        = link_to (image_tag 'npesu_landscape_logo.png', height: 40, style:'padding-left:5px; border-left: thin solid black'), "https://npesu.unsw.edu.au/"
    - when 'ANZARD'
      %div{class: "centered_wrapper"}
        = link_to (image_tag 'ANZARD_FSA_Logo_29May2020.jpg', height: 140), "https://unsw.edu.au/"
    - when 'VARTA'
      ''
  
  = link_to (image_tag 'intersect_logo.png', class: 'logo'), 'https://intersect.org.au'
  Developed by 
  %a{href: "https://intersect.org.au/energy"} Intersect Australia Ltd
  , in conjunction with
  %a{href: "https://npesu.unsw.edu.au/"} NPESU
  and
  %a{href: "http://www.unsw.edu.au/"} UNSW
