.container
  .container-flex
    .container-flex-item
      = link_to (image_tag 'banner_fertility_society_australia.png', class: 'logo'), 'http://varta.med.unsw.edu.au:3000/'
    .container-flex-item
      = link_to (image_tag 'logo_unsw.png', class: 'logo'), 'http://anzard.med.unsw.edu.au:3000/'